{%extends 'base.html'%} {% block title %}Todo{%endblock%} {% block content %}
<h1>{% if completed %}
  Completed Todo
  {% else %}
  Todo List
  {% endif %}
</h1>
{% for todo in todos %}
<ul style="list-style: none">
  <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a>
  <li>{{todo.text}}</li>
  <li>{{todo.created}}</li>
  <li>{{todo.date_comleted}}</li>
  {% if todo.important %}
  <li style="color: red;">Important</li>
  {% endif %}
</ul>
<a href="{% url 'delete_todo' todo.id %}" onclick=" return confirmDelete()">Delete</a>
{% endfor %} {% endblock %}
