<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
    <style>
      body {
        background-color: bisque;
        text-align: center;
      }
      .nav-bar {
        margin: 0;
        background-color: yellow;
      }
      .content {
        text-align: center;
        margin: 6px;
      }
      #message {
        color: red;
      }
      .link-bar {
        padding: 6px;
        border: 1px solid black;
        border-radius: 6px;
        width: fit-content;
        margin: auto;
        background-color: orange;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <div class="nav-bar">
      {% if user.is_authenticated %} User Name:
      <a href="{%url 'profile'%}">{{ user.username }}</a>
      <div class="link-bar">
        <a href="{% url 'todo' %}">Todo List</a>|
        <a href="{% url 'logout' %}">Logout</a>
      </div>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
    {% block content %}
    <div class="content"></div>
    {% endblock %}
    <p id="message">{{message}}</p>
  </body>
</html>
